body {
  background-color: #eee;
}

.content_bloc {
  background-color: #fff;
  padding-bottom: 10%;
  border-radius: 1% 1%;
}

.semaine_date{
	float: right;
	margin-bottom:1%;
	text-align: center;
}

#calendar_select{
	display:inline-block;
	width:26%;
	margin-top:1%;
}

.planning_box_header{

	padding-bottom: 1px;
    background-color: #f5f5f5
 
}

.info_planning{

	font-size: 1.3em;
	border: 2px solid #ff6501;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
    padding: 1% 2%;
}

.astreintes_box{

	padding-bottom: 5%;
    border-bottom: 1px solid #ff6501;
    border-radius: 0 0 15px 5px;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}


th{

	text-align: center;
}

.table{

	width: 90%;
    max-width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.responsable_cell{

	font-weight:bold; 
	text-align:center; 
}

.table_title{

	background-color: #99dfff; /* #ffcc99; */
}