body {
  background-color: #d3d3ff;
}

/*    =====================     ===================      *\
              Header style
\*    =====================     ===================      */

header {/* margin: 0 auto;
  width: 100%; *//*position: fixed;*/
}

header .navbar-inverse .navbar-brand {
  color: #74dcff;
}

header .logo_label:hover {
  color: #74dcff;
}

nav {
  margin-top: -2px;
  /*height: 84px;*/
}

.main_header {
  background-color: black;
  color: white;
  padding-top: .5em;
}

.logo_n_label {
  margin: 0 auto;
  margin-top: 30px;
  display: inline-block;
}

.logo_label, .logo {
  display: inline-block;
  margin-bottom: auto;
  vertical-align: bottom;
}

.nav {
  padding-right: 0;
}

ul img[src*="header"] {
  width: 34px;
  height: 29px;
  /*text-align: center;*/
  margin-bottom: 12px;
}

ul li, ul li a {
  margin: 3px auto;
  /*list-style: none;*/
}

ul li a {
  color: white;
}

header nav ul li {
  text-align: center;
  /*font-weight: bold;*/
}

.nav {
  float: right;
}

.nav ul li a:hover, .nav ul li a:focus {
  color: #FF6501;
  text-decoration: none;
  /*font-weight: bold;*/
}

.nav ul li a:focus {
  border-bottom: 2px solid #FF6501;
  /*border-right: 1px solid #FF6501;*/
}

/* =================== subheader ================ */

.usr_pic {
  width: 30px;
  height: 30px;
}

.under_nav {
  margin-top: -16px;
  /*width: 100%;*/
}

.user_data {
  float: right;
  margin-right: 12px;
}

.dropdown {
  height: 3px;
}

.dropdown-menu {
  width: 12%;
}

/*    =====================     =================== *\
            media queries
\*    =====================     =================== */

/* Marge gauche pour le logo */

@media (max-width: 768px) {
  .logo {
    margin-left: 5px;
  }
}

/* centrage du bloc utlisateur pour les petits appareils*/

@media (max-width: 540px) {
  .under_nav {
    align-content: center;
    text-align: center;
    /*background-color: grey;*/
    display: inline-block;
  }

  .user_data {/*display: inline-block;*/
  }
}

/*  gestion de l'espacement entre les menus de navigation*/

@media (min-width: 672px) and (max-width: 950px) {
  header nav ul li {
    margin-left: 2em;
  }
}

@media (min-width: 951px) {
  header nav ul li {
    margin-left: 5em;
  }
}

@media (min-width: 550px) {
  .dropdown {
    display: inline-block;
  }
}

/*   */
